/* ================================== */

/* 2026 janheder.cz */

/* ================================== */

:root {
    --white: #FFFFFF;
    --light: #F8F6F2;
    --light-blue: #F2F7FB;
    --dark: #415845;
    --darker: #0B0E15;
    --red: #C21734;

    --lime: #9AA820;
    --lime-dark: #899616;

    --yellow: #FDED5D;
    --yellow-l: #FFF387;
    --yellow-dark: #FFCC00;

    --gold: #C6A56B;

    --gray: #6D6C79;
    --green: #61AE24;
    --border: #E5E5E5;

    --blue: #217FE7;
    --blue-l: #CEE5FF;
    --navy: #0A364D;

    --pink: #E71E80;
    --pink-l: #FFCEE6;
    --pink-dark: #AD1F64;

    --aqua: #4FEDCC;
    --aqua-l: #B1F4E6;
    --aqua-dark: #0EA384;

    --white-rgb: 255 255 255;
    --black-rgb: 0, 0, 0;

    --font-main: "Afacad", sans-serif;
    --font-headings: "Barlow", sans-serif;

    --border-radius: 4px;
    --border-radius-pill: 9999px;
    --border-radius-round: 8px;

}


@font-face {
    font-family: 'Afacad';
    src: url('https://outdoormarket-cz.pages.dev/fonts/afacad/Afacad-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    display: swap;
}


@font-face {
    font-family: 'Barlow';
    src: url('https://outdoormarket-cz.pages.dev/fonts/barlow/Barlow-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('https://outdoormarket-cz.pages.dev/fonts/barlow/Barlow-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('https://outdoormarket-cz.pages.dev/fonts/barlow/Barlow-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('https://outdoormarket-cz.pages.dev/fonts/barlow/Barlow-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('https://outdoormarket-cz.pages.dev/fonts/barlow/Barlow-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('https://outdoormarket-cz.pages.dev/fonts/barlow/Barlow-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


html {
    background-color: var(--white);
}

body {
    max-width: 100%;
    margin: 0 auto;
    font-family: var(--font-main) !important;
    color: var(--darker);
}

.external-fonts-loaded, .blank-mode, body, html, .external-fonts-loaded body, body.blank-mode, .product-appendix, .empty-content-404 h1, .dropdown-menu > li > a, .header-top .btn.cart-count .cart-price, .news-item-widget h5, .header-top .oblibeneBtn em, .navigation-buttons > a[data-target="cart"] i {
    font-family: var(--font-main) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--font-headings) !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    color: var(--darker);
}

.top-navigation-bar {
    background-color: var(--dark);
    border: 0;
}

.top-navigation-menu,
.top-navigation-contacts {
    background-color: transparent;
}

.top-navigation-bar a,
.dropdown button {
    color: #fff;
}

.top-navigation-bar-menu li::before {
    content: none;
}

.top-navigation-bar-menu li a,
.top-navigation-bar-menu-helper li a {
    padding: 0 20px 0 0;
}

@media (min-width: 1440px) {
    .container {
        width: 1380px;
    }
}

#dkLabFavHeaderWrapper {
    order: -1;
    border: 0;
}

@media screen and (min-width: 768px) {

    .template-11 #dkLabFavHeaderIconBtn,
    .header-top .oblibeneBtn {
        border: 0;
    }
}

.top-nav-button {
    border: 0;
    font-size: 0;
    justify-content: center;
    padding: 0;
}

.top-nav-button::before {
    margin: 0;
}

@media screen and (min-width: 768px) {

    .top-nav-button::after,
    .btn.cart-count::after {
        content: none;
    }
}

#header .site-name a img {

    max-height: 52px;
}

.top-menu-trigger-visible .top-navigation-menu-trigger {
    display: none;
}

.overall-wrapper {
    display: flex;
    flex-direction: column;
}

.overall-wrapper>* {
    order: 40;
}

.admin-bar {
    order: -10;
}

.top-navigation-bar {
    order: 10;
}

#header {
    order: 20;
}

.site-msg.information {
    order: 30;
    background: var(--yellow);
    color: var(--darker);
    max-width: 1380px;
    margin: 0 auto;
    margin-top: 20px;
}

@media (min-width: 992px) {
    .site-msg {
        z-index: 1;
    }
}

@media (min-width: 768px) {
    .top-navigation-bar .container {
        gap: 20px;
    }

    .top-navigation-bar .container>div {
        height: 40px;
        line-height: 40px;
        display: flex;
        flex-grow: 0;
        flex-basis: unset;
        padding: 0;
    }

    .top-navigation-bar .container .top-navigation-menu {
        flex-grow: 1;
    }

    .czechLang {
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .czechLang a {
        display: flex;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        overflow: hidden;
    }

    .czechLang a img {
        object-fit: cover;
    }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    content: none;
}

@media (min-width: 768px) {
    #header .cart-count {
        position: relative;
        left: 0;
        right: auto;
        top: 0;
        display: flex;
        align-items: center;
        height: 100%;
        border: 0;
        min-width: 106px;
        padding-top: 0px;
    }
}

.navigation-in ul li a {
    font-family: var(--font-headings) !important;
}

.fav-cat {
    background: var(--dark);
    margin: 0;
    padding: 80px 0;
}

.fav-cat h4 {
    color: white;
    font-size: 34px;
}

.fav-cat li>div>div a {
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-headings) !important;
    font-weight: 500;
}

.fav-cat li>div {
    border: 0;
    padding: 32px;
    position: relative;
    height: 100%;
    background: white;
    border-radius: var(--border-radius);
}

.fav-cat ul {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 20px;
}

.fav-cat li {
    width: 100%;
    padding: 0px;

}

.fav-cat ul li:nth-child(6) {
    display: none;
}

h4.homepage-group-title,
.h4.homepage-group-title {
    font-size: 34px;
}

.news-item {
    width: 50%;
}

.news-item:nth-child(3) {
    display: none;
}

#footer {
    background-color: var(--light);
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

#footer.newsletter-active {
    margin-top: 0px !important;
}

.newsletter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 32px 48px;
    margin-top: 0px;
    background: var(--white);
    border: 0;
    color: var(--darker);
    border: 1px solid var(--darker);
    border-radius: var(--border-radius);
}

.custom-footer,
.footer-bottom {
    border: 0;
}

.newsletter .newsletter-header h3 {
    color: var(--darker);
    text-transform: uppercase;
}

.newsletter form .form-group label.whole-width,
.newsletter form .form-group label.whole-width a {
    color: var(--gray);
}

.footer-icons {
    gap: 20px;
}

.footer-links-icons {
    padding: 25px 0;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.footer-icon {
    width: auto;
    margin: 0;
    display: flex;
    flex-basis: unset;
}

.footer-icon img {
    height: auto;
    width: 100%;
    max-height: 36px;
}