/* ================================== */

/* 2026 janheder.cz */

/* ================================== */

:root {
    --white: #FFFFFF;
    --light: #F8F6F2;
    --light-blue: #F2F7FB;
    --dark: #415845;
    --darker: #0B0E15;
    --red: #C21734;

    --lime: #9AA820;
    --lime-dark: #899616;

    --yellow: #FFE851;
    --yellow-l: #FFF387;
    --yellow-dark: #FFCC00;

    --gold: #C6A56B;

    --gray: #6D6C79;
    --green: #61AE24;
    --border: #E5E5E5;

    --blue: #217FE7;
    --blue-l: #CEE5FF;
    --navy: #0A364D;

    --pink: #E71E80;
    --pink-l: #FFCEE6;
    --pink-dark: #AD1F64;

    --aqua: #4FEDCC;
    --aqua-l: #B1F4E6;
    --aqua-dark: #0EA384;

    --white-rgb: 255 255 255;
    --black-rgb: 0, 0, 0;

    --font-main: "Afacad", sans-serif;
    --font-headings: "Barlow", sans-serif;

    --border-radius: 4px;
    --border-radius-pill: 9999px;
    --border-radius-round: 8px;

}


@font-face {
    font-family: 'Afacad';
    src: url('https://outdoormarket-cz.pages.dev/fonts/afacad/Afacad-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    display: swap;
}


@font-face {
    font-family: 'Barlow';
    src: url('https://outdoormarket-cz.pages.dev/fonts/barlow/Barlow-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('https://outdoormarket-cz.pages.dev/fonts/barlow/Barlow-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('https://outdoormarket-cz.pages.dev/fonts/barlow/Barlow-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('https://outdoormarket-cz.pages.dev/fonts/barlow/Barlow-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('https://outdoormarket-cz.pages.dev/fonts/barlow/Barlow-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('https://outdoormarket-cz.pages.dev/fonts/barlow/Barlow-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


html {
    background-color: var(--white);
}

body {
    max-width: 100%;
    margin: 0 auto;
    font-family: var(--font-main) !important;
    color: var(--darker);
    overflow-x: hidden;
}

.external-fonts-loaded,
.blank-mode,
body,
html,
.external-fonts-loaded body,
body.blank-mode,
.product-appendix,
.empty-content-404 h1,
.dropdown-menu>li>a,
.header-top .btn.cart-count .cart-price,
.news-item-widget h5,
.header-top .oblibeneBtn em,
.navigation-buttons>a[data-target="cart"] i {
    font-family: var(--font-main) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--font-headings) !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    color: var(--darker);
}

.top-navigation-bar {
    background-color: var(--dark);
    border: 0;
}

.top-navigation-menu,
.top-navigation-contacts {
    background-color: transparent;
}

.top-navigation-bar a,
.dropdown button {
    color: #fff;
}

.top-navigation-bar-menu li::before {
    content: none;
}

.top-navigation-bar-menu li a,
.top-navigation-bar-menu-helper li a {
    padding: 0 20px 0 0;
}

@media (min-width: 1440px) {
    .container {
        max-width: 1380px;
    }
}

#dkLabFavHeaderWrapper {
    order: -1;
    border: 0;
}

@media screen and (min-width: 768px) {

    .template-11 #dkLabFavHeaderIconBtn,
    .header-top .oblibeneBtn {
        border: 0;
    }
}

.top-nav-button {
    border: 0;
    font-size: 0;
    justify-content: center;
    padding: 0;
}

.top-nav-button::before {
    margin: 0;
}

@media screen and (min-width: 768px) {

    .top-nav-button::after,
    .btn.cart-count::after {
        content: none;
    }
}

#header .site-name a img {

    max-height: 52px;
}

.top-menu-trigger-visible .top-navigation-menu-trigger {
    display: none;
}

.overall-wrapper {
    display: flex;
    flex-direction: column;
}

.overall-wrapper>* {
    order: 40;
}

.admin-bar {
    order: -10;
}

.top-navigation-bar {
    order: 10;
}

#header {
    order: 20;
}

.site-msg.information {
    order: 30;
    background: var(--yellow);
    color: var(--darker);
    max-width: 1380px;
    margin: 0 auto;
    margin-top: 20px;
}

@media (min-width: 992px) {
    .site-msg {
        z-index: 1;
    }
}

@media (min-width: 768px) {
    .top-navigation-bar .container {
        gap: 20px;
    }

    .top-navigation-bar .container>div {
        height: 40px;
        line-height: 40px;
        display: flex;
        flex-grow: 0;
        flex-basis: unset;
        padding: 0;
    }

    .top-navigation-bar .container .top-navigation-menu {
        flex-grow: 1;
    }

    .czechLang {
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .czechLang a {
        display: flex;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        overflow: hidden;
    }

    .czechLang a img {
        object-fit: cover;
    }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    content: none;
}

@media (min-width: 768px) {
    #header .cart-count {
        position: relative;
        left: 0;
        right: auto;
        top: 0;
        display: flex;
        align-items: center;
        height: 100%;
        border: 0;
        min-width: 106px;
        padding-top: 0px;
    }
}

.navigation-in ul li a {
    font-family: var(--font-headings) !important;
}

.fav-cat {
    background: var(--dark);
    margin: 0;
    padding: 80px 0;
}

.fav-cat h4 {
    color: white;
    font-size: 34px;
}

.fav-cat li>div>div a {
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-headings) !important;
    font-weight: 500;
}

.fav-cat li>div {
    border: 0;
    padding: 32px;
    position: relative;
    height: 100%;
    background: white;
    border-radius: var(--border-radius);
}

.fav-cat ul {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 20px;
}

.fav-cat li {
    width: 100%;
    padding: 0px;

}

.fav-cat ul li:nth-child(6) {
    display: none;
}

h4.homepage-group-title,
.h4.homepage-group-title {
    font-size: 34px;
}

.news-item {
    width: 50%;
}

.news-item:nth-child(3) {
    display: none;
}

#footer {
    background-color: var(--light);
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

#footer.newsletter-active {
    margin-top: 0px !important;
}

.newsletter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 32px 48px;
    margin-top: 0px;
    background: var(--white);
    border: 0;
    color: var(--darker);
    border: 1px solid var(--darker);
    border-radius: var(--border-radius);
}

.custom-footer,
.footer-bottom {
    border: 0;
}

.newsletter .newsletter-header h3 {
    color: var(--darker);
    text-transform: uppercase;
}

.newsletter form .form-group label.whole-width,
.newsletter form .form-group label.whole-width a {
    color: var(--gray);
}

.footer-icons {
    gap: 20px;
}

.footer-links-icons {
    padding: 25px 0;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.footer-icon {
    width: auto;
    margin: 0;
    display: flex;
    flex-basis: unset;
}

.footer-icon img {
    height: auto;
    width: 100%;
    max-height: 36px;
}

.custom-footer__banner6991 {
    display: flex;
    width: 100% !important;
    padding: 0 !important;
}

.custom-footer__banner6991 .banner {
    width: 100%;
}

.cta-section {
    display: flex;
    width: 100%;
    background: var(--dark);
    padding: 30px 0;
}

.cta-section__content {
    display: flex;
    color: white;
    justify-content: space-between;
    width: 100%;
}

.cta-section__title {
    color: white;
    font-size: 32px;
    padding: 0;
    margin: 0;
    max-width: 580px;
}

.cta-section__wrap {
    display: flex;
    gap: 40px;
    align-items: center;
}

#footer .cta-section .cta-section__item {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: var(--border-radius);
    color: white;
    min-height: 58px;

}

.cta-section__img-wrap {
    background: white;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.cta-section__img-wrap img {
    height: 14px;
    width: auto;
}

.cta-section__text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
    padding: 0 20px;
    line-height: 1.2;
}

.cta-section__text small {
    font-size: 15px;
    font-weight: 400;
}

.custom-footer__instagram {
    width: 100% !important;
    text-align: center;
}

.custom-footer__instagram h3.pageElement__heading span {
    font-size: 34px;
}

.instagram-widget {
    max-width: 100%;
}

.instagram-widget {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 20px;
}

.instagram-widget>a {
    display: flex;
    width: 100% !important;
    aspect-ratio: 1/1;
}

.instagram-widget>a img {
    object-fit: cover;
}

.instagram-follow-btn {
    display: none;
}

.fav-cat {
    position: relative;
    z-index: 1;
}

.fav-cat::before {
    content: "";
    top: 0px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1800px;
    max-width: 100vw;
    height: 100%;
    background: var(--dark);
    display: flex;
    position: absolute;
    z-index: -1;
    border-radius: var(--border-radius-round);
}

.benefitBanner__content {
    max-width: 280px;
}

.benefitBanner__title {
    font-family: var(--font-headings);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.benefitBanner__data {
    font-size: 16px;
}

.type-index .benefitBanner {
    position: relative;
    z-index: 1;
    border: 0;
}

.type-index .benefitBanner::before {
    content: "";
    top: 0px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: var(--light);
    display: flex;
    position: absolute;
    z-index: -1;
    border-radius: var(--border-radius-round);
}

.homepage-box.before-carousel {
    position: relative;
    z-index: 1;
    border: 0;
}

.homepage-box.before-carousel::before {
    content: "";
    top: 120px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: var(--light);
    display: flex;
    position: absolute;
    z-index: -1;
    border-radius: var(--border-radius-round);
}

.site-msg.information {
    border-radius: var(--border-radius);
    min-height: 42px;
    display: flex;
    align-items: center;
}

@media (min-width: 1440px) {
    .site-msg.information .container {
        max-width: 1380px;
    }
}

.site-msg.information .text {
    font-size: 16px;
}

.site-msg a {
    color: var(--darker);
    text-decoration: underline;
}

.site-msg .close::before,
.site-msg .close::after {
    background: var(--darker);
}

.navigation-in ul li a {
    font-size: 17px;
}

.navigation-in ul li a b {
    font-weight: 600;
}

@media (min-width: 768px) {
    #navigation {
        position: relative;
        left: 0;
        height: 58px;
        z-index: 1;
        border-top: 0;
        border-bottom: 0;
        background: transparent;
    }

    .navigation-in {
        background: transparent;
        height: 100%;
        width: 100%;
    }

    .navigation-in ul,
    .fitted .navigation-in ul {
        min-height: 58px;
        display: flex;
        justify-content: space-between;
    }

    .navigation-in>ul>li {
        height: 58px;
    }

    #header::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 58px;
        border-top: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid #E4E4E4;
    }

    .navigation-in ul li a {
        padding: 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-helper.visible {
        display: none;
    }

    .navigation-in ul li.splitted {
        display: none;
    }
}

.top-navigation-bar-menu li {
    font-size: 15px;
}

.container.breadcrumbs-wrapper {
    width: 100%;
    background-color: transparent;
    margin-bottom: 30px;
}

.breadcrumbs {
    display: flex;
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    height: 50px;
    font-family: var(--font-headings);
}

.breadcrumbs>span>a,
.breadcrumbs>span>span {
    font-size: 14px;
    color: var(--gray);
}

.breadcrumbs>span>a {
    color: var(--darker);
}

.navigation-home-icon-wrapper::before {
    color: var(--darker);
}

@media screen and (min-width: 768px) {
    .search-form::before {
        content: none;
    }
}

.compact-form .form-control {
    padding-left: 20px;
    height: 48px;
}

@media screen and (min-width: 768px) {
    #header .search-form .btn {
        height: 100%;
        top: 0;
        right: 0;
        color: var(--darker);
        background: transparent;
        border: 0;
        min-width: 54px;
        width: auto;
        font-size: 0;
        padding: 0;
        background-image: url("https://outdoormarket-cz.pages.dev/icons/search.svg");
        background-position: center;
        background-size: 17px;
        background-repeat: no-repeat;
    }

    #header .search-form .form-control {
        border: 1px solid var(--darker);
        border-radius: var(--border-radius);
        color: var(--gray);
        font-size: 17px !important;
    }

    #header .search-form .form-control::placeholder {
        color: var(--gray);
        font-size: 17px !important;
    }
}

@media screen and (min-width: 768px) {
    #header .search-form .form-control {
        box-shadow: 3px 3px 0px #E3E3E3;
    }

}

.subscribe-form::before {
    content: none;
}

.subscribe-form .btn {
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0;
    height: 48px;
    width: auto;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-headings) !important;
    border-radius: var(--border-radius);
    background: var(--darker);
    border: 0;
    min-width: 0;
    padding: 0 18px;
}


.newsletter .newsletter-header h3 {
    text-transform: uppercase !important;
    font-size: 26px;
}

.newsletter .newsletter-header::after {
    content: "Odebírejte aktuální informace, oznámení o slevách a novinky na Váš email.";
    font-size: 17px;
    color: var(--gray);
}

@media screen and (min-width: 768px) {
    #header .search-form .btn:hover {
        background-color: transparent !important;
    }

}

#formSearchForm>fieldset>input.query-input.form-control.search-input.js-search-input {
    font-size: 17px !important;
    color: var(--darker);
}

@media (min-width: 768px) {
    .custom-footer>div:not(.contact) {
        padding-right: 0px;
    }
}

.custom-footer>div {
    padding: 0;
}

.custom-footer .custom-footer__instagram {
    order: -50;
    position: relative;
    z-index: 1;
    border: 0;
    border-top: 1px solid var(--border);
    padding: 60px 0;
}

.custom-footer__instagram::before {
    content: "";
    top: 0px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: var(--white);
    display: flex;
    position: absolute;
    z-index: -1;
    border-radius: var(--border-radius-round);
}

.instagram-widget {
    margin: 0;
}

.custom-footer .custom-footer__banner6991 {
    position: relative;
    z-index: 1;
    order: -40;
}

.custom-footer .custom-footer__banner6991::before {
    content: "";
    top: 0px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: var(--dark);
    display: flex;
    position: absolute;
    z-index: -1;
    border-radius: var(--border-radius-round);
}

@media (min-width: 1200px) {
    .custom-footer {
        padding-top: 0;
    }
}

#footer {
    padding-top: 0px;
}

#footer .custom-footer .newsletter {
    order: -30;
    padding: 40px;
    margin: 60px 0;
}

#footer .custom-footer .newsletter-header h3 {
    font-size: 26px;
    margin-bottom: 10px;
}

.homepage-box.welcome-wrapper.welcimg-wrapper {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.welcimg-yes {
    position: relative;
    z-index: 1;
    padding: 80px 0;
}

.welcimg-yes::before {
    content: "";
    top: 0px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1800px;
    max-width: 100vw;
    height: 100%;
    background: var(--light);
    display: flex;
    position: absolute;
    z-index: -1;
    border-radius: var(--border-radius-round);
}

.welcimg-yes.welcome .h1 {
    display: none;
}

.welcome-img {
    position: relative;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.welcimg-yes.welcome div {
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: 60px;
    padding: 0;
    font-size: 17px;
}

.type-index .benefitBanner {
    padding: 40px 0;
}

.fav-cat ul {
    margin: 0;
}

.footer-bottom,
.copyright,
#signature a {
    font-size: 16px;
}

.product-top {
    margin-bottom: 0;
}

.p-detail-inner-header h1,
.p-detail-inner-header .h1 {
    font-size: 34px;
}

#sai--code__product_related>div,
#sai--code__product_cross_sell>div {
    border: 0 !important;
    margin: 0;
}

#sai--code__product_related {
    display: flex;
    width: 100%;
}

.type-product .benefitBanner {
    margin-top: 30px;
    margin-bottom: 30px;
}

.carousel-control {
    background: var(--darker);
    color: white;
    border-radius: var(--border-radius);
    left: 10px;
}

.carousel-control.right {
    right: 10px;
}

.site-msg a {
    font-weight: 500;
}

.content-wrapper.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    padding: 0 10px;
}

.footer-rows {
    width: 100%;
    max-width: 1400px;
    padding: 0 10px;
}

.homepage-blog-wrapper {
    padding: 60px 0;
}

.homepage-blog-wrapper .h4.homepage-group-title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.homepage-blog-wrapper .news-item a .title,
.homepage-blog-wrapper .read-article {
    font-family: var(--font-headings);
    text-transform: uppercase;
    color: var(--darker);
    text-decoration: none;
    font-weight: 600;
}

.homepage-blog-wrapper .news-item a .title {
    font-size: 20px;
}

.homepage-blog-wrapper .read-article {
    color: var(--green);
    font-size: 16px;
}

.news-item {
    margin: 0;
}

.news-item .text .description {
    font-size: 16px;
    line-height: 1.5;
}

.news-item .image {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.type-index .products .product {
    border: 0 !important;
}

.type-index .products>div {
    border: 0 !important;
}

.products-block .p a.image {
    background: #FBFAF9;
    margin: 0;
    padding: 10px;
    aspect-ratio: 34/30;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.products-block .p a.image img {
    mix-blend-mode: darken;
}

.products-block.products .product {
    padding: 5px;
}

.stars-placeholder,
.p .stars-wrapper {
    height: 12px;
    margin: 0;
    position: absolute;
    top: -22px;
}

.product .p-in {
    padding: 15px 10px;
}

.products-block .p .flags-default {
    position: absolute;
    left: 8px;
    top: 8px;
}

.flags-extra {
    top: 8px;
    right: 8px;
}
@media (min-width: 768px) {
    .in-index .content{
        display: flex;
        flex-direction :column;
    }
    .content  .benefitBanner{
      order: 10;
    }
        .content  .fav-cat{
      order: 40;
    }
     .content .homepage-products-heading-1{
        order: 20;
    }
         .content  .homepage-products-1{
        order: 30;
    }
         .content .homepage-products-heading-2{
        order: 50;
    }
         .content  .homepage-products-2{
        order: 60;
    }
}
.homepage-box.before-carousel + .fav-cat, .benefitBanner + .fav-cat, .row.banners-row + .fav-cat{
    margin: 0;
}